<link rel="stylesheet" href="__PUBLIC__/css/daterangepicker-bs3.css" />

<!-- 下线 -->
<div class="modal fade bs-example-modal-sm" tabindex="2" role="dialog" aria-labelledby="myLargeModalLabel" id="confirm_modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div  id="confirm_body" class="modal-body" >
      	<p class="text-danger" style="padding:10px 0 00px 0" id="confirm_title"></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-primary btn-sm" id="song_off">下线</button>
      </div>
    </div>
  </div>
</div>
<!-- 下线 --> 

<!-- 歌词 -->
<div class="modal fade" tabindex="2" role="dialog" aria-labelledby="myLargeModalLabel" id="pop_modal">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
     	 <h4 class="modal-title" id="pop_header"></h4>
      </div>
      <iframe  id="pop_body" class="modal-body" frameborder="0" src="" width="100%" height="520px" ></iframe>
    </div>
  </div>
</div>
<!-- 歌词 --> 

<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header">广告浏览量<div class="pull-right" style="width:280px; margin-top:5px;">
    			<form class="form-horizontal">
						<fieldset>
							<div class="control-group">
								<div class="controls">
									<div class="input-prepend input-group">
										<span class="add-on input-group-addon">
											<i class="glyphicon glyphicon-calendar fa fa-calendar">
											</i>
										</span>
										<input type="text" name="reservation" id="reservation" class="form-control" value="01/01/2014 - 09/06/2015">
                                        <span class="input-group-btn">
                                        	<button class="btn btn-default" type="button">查询</button>
                                        </span>                                        
									</div>
								</div>
							</div>
						</fieldset>
					</form>
          </div></h1>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
  	<p style="font-size:12px; color:#999">自 <strong style="color:#000;">2014-03-19</strong> 至 <strong style="color:#000">2015-02-07</strong> 广告浏览量统计数据</p>
    <div class="table-responsive">
      <table class="table table-bordered table-hover table-striped">
        <thead>
          <tr>
            <th width="30%">歌曲名称</th>
            <th width="20%">广告类型</th>
            <th width="20%">发布日期</th>
            <th width="30%">浏览量</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>我的名字叫做安</td>       
            <td>自定广告</td> 
            <td>2015-01-14</td>
            <td>23333</td>
          </tr>        
          <tr>
            <td colspan="3"><a>合计</a></td>        
            <td>948473</td>
          </tr>                        
        </tbody>
      </table>
    </div>
  </div>
</div>

<script type="text/javascript" src="js/moment.js"></script>
<script type="text/javascript" src="js/daterangepicker.js"></script>
<script>
$(function(){
		$('#reservation').daterangepicker(null, function(start, end, label) {
			console.log(start.toISOString(), end.toISOString(), label);
		});
})
</script>