<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"> 控制面板</h1>
    <br />
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="panel panel-default"> 
      <!-- Default panel contents -->
      <div class="panel-heading">快捷菜单</div>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item"><a>控制面板</a> </li>
        <li class="list-group-item"><a class="mr10" href="{:U('Index/userinfo')}">个人资料</a> <a class="mr10"  href="{:U('Index/useredit')}">编辑资料</a> <a class="mr10" href="{:U('Index/updatepassword')}">修改密码</a></li>
        <li class="list-group-item"><a class="mr10" href="{:U('Index/trackadd')}">发布音乐</a> <a class="mr10"  href="{:U('Index/tracklist')}">音乐管理</a></li>
        <li class="list-group-item"><a class="mr10" href="{:U('Index/noticeadd')}">发布公告</a> <a class="mr10"  href="{:U('Index/noticelist')}">公告管理</a></li>
        <li class="list-group-item"><a class="mr10" href="{:U('Index/advertadd')}">发布广告</a> <a  class="mr10"  href="{:U('Index/advertlist')}">广告管理</a></li>        
        <li class="list-group-item"><a class="mr10" href="{:U('Index/trackscount')}">音乐播放量统计</a> <a class="mr10" href="{:U('Index/trackscount')}">单曲播放量统计</a> <a  class="mr10" href="{:U('Index/noticecount')}">公告浏览量统计</a> <a class="mr10" href="{:U('Index/advertcount')}">广告浏览量统计</a></li>
        <li class="list-group-item"><a href="{:U('Index/acount')}" >结算管理</a></li>
      </ul>
    </div>
  </div>
</div>
<script>

</script> 