<!-- 顶部导航 -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"> 修改密码</h1>
    <br />
  </div>
</div>
<!-- 顶部导航 --> 
<!-- 错误提示 -->
<div id="alerts" class="alert alert-warning" role="alert" style="display:none"></div>
<!-- 错误提示 --> 
<!-- 编辑资料 -->
<div class="row">
  <div class="col-lg-6">
    <form id="form" role="form">
      <div class="form-group">
        <label>旧密码</label>
        <input id="old_pwd" class="form-control"  type="password" desc="旧密码" rule="password" tip="输入您的旧密码">
        <p class="help-block hiddens">输入您的旧密码</p>
      </div>
      <div class="form-group">
        <label>新密码</label>
        <input id="new_pwd" class="form-control" type="password"  desc="新密码" rule="password" tip="6~16字符，可由字母、数字组成">
        <p class="help-block  hiddens">6~16字符，可由字母、数字组成</p>
      </div>
      <div class="form-group">
        <label>重复新密码</label>
        <input id="new_pwds" class="form-control" type="password"  desc="重复新密码" rule="password" tip="请牢记您的新密码">
        <p class="help-block  hiddens">请牢记您的新密码</p>
      </div>
      <br />
      <button id="btn" type="submit" class="btn btn-primary"   data-loading-text="Loading...">提交</button>
      <br />
      <br />
    </form>
  </div>
  <div class="col-lg-6"></div>
</div>
<!-- 编辑资料 --> 

<!-- page --> 
<script>
$(function(){
        alert('fsdfds');
		var old_pwd = $("#old_pwd");
		var new_pwd = $("#new_pwd");
		var new_pwds = $("#new_pwds");
		var btn = $("#btn");
		var input = $("input");
		
		window.input_focus(input);

		btn.on("click", function(){
			
			$("#alerts").hide();	
			if(!window.input_validate(input)){
				return false;	
			}
			
			if(new_pwd.val() != new_pwds.val()){
				window.result(2,"新密码和重复新密码不一致");
				return false;
			}


            $.ajax({
                url: "{:U('Index/test')}",//提交访问的URL
                type: 'GET',//提交的方法
                dataType: 'json',//返回的内容的类型，由于PHP文件是直接echo的，那么这里就是text
                timeout: 1000,//超时时间
                error: function(){ //如果出错，执行函数
                    alert('Error loading XML document');
                },
                success: function(data){
                    alert(data["name"]);//如果成功，弹出数据
                   // writeHtml(data,pic);
                }
            });


//		     //ajax修改密码
//			window.btn_submit({
//				"btn": $("#btn"),
//				"type": "post",
//                "datatype":"text",
//				"data": {"old_pwd":old_pwd.val(), "new_pwd": old_pwd.val(), "new_pwds":new_pwds.val()},
//				"url":"{:U('Index/test')}",
//				"fnSuccess": function(data){
//                    alert(data);
//                    return false;
//					if(1){ //成功
//						window.result(1,"修改密码成功，请重新登录","index.html");
//						return false;
//					}else{ //失败
//						window.result(3,"修改密码失败");
//						return false;
//					}
//				},
//			})

			return false;

		})


		
})

    function submit(){
        alert('fsdfdsfsdf');
    }
</script> 