<!-- 顶部导航 -->
<div class="row">
  <div class="col-lg-12">
    <h1 class="page-header"> 修改密码</h1>
    <br />
  </div>
</div>
<!-- 顶部导航 --> 
<!-- 错误提示 -->
<div id="alerts" class="alert alert-warning" role="alert" style="display:none"></div>
<!-- 错误提示 --> 
<!-- 编辑资料 -->
<div class="row">
  <div class="col-lg-6">
    <form id="form" role="form">
      <div class="form-group">
        <label>旧密码</label>
        <input id="password" class="form-control"  type="password" desc="旧密码" rule="password" tip="输入您的旧密码">
        <p class="help-block hiddens">输入您的旧密码</p>
      </div>
      <div class="form-group">
        <label>新密码</label>
        <input id="newpassword" class="form-control" type="password"  desc="新密码" rule="password" tip="6~16字符，可由字母、数字组成">
        <p class="help-block  hiddens">6~16字符，可由字母、数字组成</p>
      </div>
      <div class="form-group">
        <label>重复新密码</label>
        <input id="reppassword" class="form-control" type="password"  desc="重复新密码" rule="password" tip="请牢记您的新密码">
        <p class="help-block  hiddens">请牢记您的新密码</p>
      </div>
      <br />
      <button id="submit" type="submit" class="btn btn-primary" data-loading-text="Loading...">提交</button>
      <br />
      <br />
    </form>
  </div>
  <div class="col-lg-6"></div>
</div>
<!-- 编辑资料 --> 

<!-- page --> 
<script>
$(function(){

		var $password = $("#password");
		var $newpassword = $("#newpassword");
		var $reppassword = $("#reppassword");
		var $submit = $("#submit");
		var $input = $("input");
		window.input_focus(input);

		$submit.on("click", function(){
			
			$("#alerts").hide();	
			if(!window.input_validate(input)){
				return false;	
			}
			if($newpassword.val() != $reppassword.val()){
				window.result(2,"新密码和重复新密码不一致");
				return false;
			}			
			window.btn_submit({
				"btn": $submit,
				"type": "post",
				"data": {"old_pwd":$password.val(), "new_pwd": $newpassword.val(), "new_pwds":$reppassword.val()},
				"url":"test.php",
				"fnSuccess": function(data){
					if(1){ //成功
						window.result(1,"修改密码成功，请重新登录","index.html");
						return false;
					}else{ //失败
						window.result(3,"修改密码失败");
						return false;
					}
				},
			})
			return false;

		})
		
})
</script> 