<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
<title>音乐人合作 - 合作协议</title>
<link href="__PUBLIC__/page/css/main.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main">
  <div class="content">
    <h1>关于音乐人合作</h1>
    <h2>什么是挖哇音乐人平台？</h2>
    <p>“挖哇音乐人平台” 本着尊重音乐人、保护原创版权的原则，致力于挖掘和传播优秀的独立音乐作品，为音乐人推广提供优质服务，旨在帮助独立音乐人获得收益。</p>
    <p>平台依托“挖哇”、“余音”两个品牌产品，通过手机客户端、电视客户端、Web网站、微博/微信新媒体等渠道，已覆盖数百万独立音乐重度垂直用户并增长迅速，具备广泛的传播变现能力；同时，借助传统独立厂牌“拉拉索”丰富的实体发行、音乐周边开发、线下演出活动经验，为音乐人提供线上线下一体化服务。</p>
    <p>我们极度渴望优秀的音乐人入驻挖哇音乐平台，获得理所应当的收益和尊重。 </p>
    <p>独立音乐的春天，是时候了。</p>
    <h2>我们为音乐人提供哪些服务?</h2>
    <p>1.音乐作品进入挖哇曲库，通过平台旗下所有产品和媒体最大范围传播和曝光。优秀的音乐人，还将获得《乐人》栏目的“图+文+曲”每周专题推荐。</p>
    <p>2.“一人一说”专属公告页。音乐人的所有歌曲被播放时，播放页面旁同步展现，音乐人可在公告页自主发布活动信息、行程资讯、演出票务、企宣文案、创作故事，同时与歌迷互动。</p>
    <p>3.“一曲一品”专属推荐页。音乐人每一首歌被播放时，对应配置一个广告推荐页，播放页面旁同步展现，音乐人可以自主推荐自己的实体CD/周边商品/票务购买，也可交由挖哇平台广告系统打理推荐品质商品，广告收益全部归音乐人所有。音乐作品数量越多，试听量越多，广告收益越大。</p>
    <p>4.“一听一卖”专属售歌页。音乐人主推单曲被播放时，播放页面上展开“更多歌曲”，音乐人可自行设置为免费或付费试听和下载。收益100%归音乐人所有，平台自动发送月度报表，绑定支付宝，一键提现。</p>
    <p>5.中国三大运营商的彩铃、振铃、全曲下载等无线音乐增值服务，帮助音乐人进行作品上线、商用、推广和结算等复杂工作。收益以运营商账单为准，并入上述专属售歌的月度报表。</p>
    <p>6.入驻平台的音乐人，将获得专属管理后台，后台除支持音乐人自主上传歌曲、专属页信息的发布、报表查看、收益提现外，还将获得粉丝数地域分布、试听量、用户评论等多维度数据。</p>
    <p>7.对于优秀的音乐人和demo作品，平台将会考虑实体发行、音乐人巡演、厂牌签约等更深度合作与扶持。</p>
    <h2>如何成为音乐人?</h2>
    <p>1.申请入驻</p>
    <p>2.注册音乐人账户（最基本信息）</p>
    <p>3.仔细阅读音乐人与挖哇音乐人平台之合作须知，确认并成功注册</p>
    <p>4.输入音乐人名称(常用艺名、乐队名称或真实姓名)查询平台是否已经收录</p>
    <p style=" text-indent:50px">1) 已经收录。同意并继续；不同意并邮件告知平台下线。</p>
    <p style=" text-indent:50px">2) 未收录。继续。</p>
    <p>5.资料填写，等待平台审核</p>
    <p>6.歌曲上传</p>
  </div>
  <div class="footer transfrom"> <a id="backtop" title="回到顶部" style="cursor:pointer">回到顶部</a> <a href="{:U('Index/index')}" title="返回首页">返回首页</a></div>
</div>
<script src="__PUBLIC__/page/js/jquery-1.11.1.min.js"></script> 
<script>
$(function(){
	$("#backtop").on("click", function(){
		$("html,body").animate({"scrollTop": 0})	
	})	
})
</script>
</body>
</html>